<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">
    <div class="navBar">
      <h1>Options</h1>
      <a href="/logout"> Salir</a>
    </div>
    <ul class="options">
      <li>
        <p>Platform name: <%=info.system %></p>
      </li>
      <li>
        <p>Node Version: <%=info.nodeVersion %></p>
      </li>
      <li>
        <p>RSS: <%=info.memory %></p>
      </li>
      <li>
        <p>Execution path: <%=info.path %></p>
      </li>
      <li>
        <p>Process Id: <%=info.processId %></p>
      </li>
      <li>
        <p>Project folder: <%=info.file %></p>
      </li>
      <li>
        <p>Cpus: <%=info.CPUS %></p>
      </li>
    </ul>
    <div class="links">
      <a href="/products"> Ir a productos</a>
    </div>
  </div>
</body>
</html>